In [ ]:
"""
Project 1:
1. Load the csv file and show top 5 records from it.
2. How you would be able to see each column's name.
3. Need to show number of rows and columns of this dataset.
4. Show number of players and their countries.
5. If you find many records in point 4 then show only top 10 countries and their 
number of players.
6. Now you have to create a bar plot of top 5 countries and their number of 
players, try to fill green color in bars.
7. Show top 5 players short name and wages.
8. Show top 5 players short name and wages that are getting highest salaries.
9. Create a bar plot of point number 8.
10.Show top 10 records of Germany.
11.Now show top 5 records of Germany players who have maximum height, 
weight and wages.
12.Show short name and wages of top 5 Germany players.
13.Show top 5 players who have great shooting skills among all with short name.
14.Show top 5 players records (short name, defending, nationality, and club) that 
have awesome defending skills.
15.Show wages records of top 5 players of 'Real Madrid' team.
16.Show shooting records of top 5 players of 'Real Madrid' team.
17.Show defending records of top 5 players of 'Real Madrid' team.
18.Show nationality records of top 5 players of 'Real Madrid' team.
***Add comment wherever you find it’s important.
Bonus – Can go to beyond the scope of this project and find out some great results 
from the data set. Extract more information of players according to your wish.

"""

In [1]:
import pandas as pd
import numpy as np

In [21]:
# 1. Load the csv file and show the top 5 records from it

df = pd.read_csv("players_20.csv")
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [22]:
# 2. How you would be able to see each column's name.

#print(df.info())

#for column in df.columns:
#    print(column)

#print(list(df.columns))

print(df.columns.values.tolist())

['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

In [23]:
# 3. Need to show number of rows and columns of this dataset.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB
None

In [67]:
# 4. Show number of players and their countries.

df[['long_name','nationality']]

                                 long_name nationality
0           Lionel Andrés Messi Cuccittini   Argentina
1      Cristiano Ronaldo dos Santos Aveiro    Portugal
2            Neymar da Silva Santos Junior      Brazil
3                                Jan Oblak    Slovenia
4                              Eden Hazard     Belgium
...                                    ...         ...
18273                                   邵帅    China PR
18274                         Mingjie Xiao    China PR
18275                                   张威    China PR
18276                                  汪海健    China PR
18277                                  潘喜明    China PR

[18278 rows x 2 columns]

In [ ]:
# 5. If you find many records in point 4 then show only top 10 countries and their number of players.

In [ ]:
# 6. Now you have to create a bar plot of top 5 countries and their number of players, try to fill green color in bars.

In [65]:
# 7. Show top 5 players short name and wages.
players = df[['short_name', 'wage_eur']].head()

In [66]:
# 8. Show top 5 players short name and wages that are getting highest salaries.
players.sort_values(by='wage_eur', ascending=False).head()

          short_name  wage_eur
0           L. Messi    565000
4          E. Hazard    470000
1  Cristiano Ronaldo    405000
2          Neymar Jr    290000
3           J. Oblak    125000

In [ ]:
# 9. Create a bar plot of point number 8.
players.

In [ ]:
# 10. Show top 10 records of Germany.

In [ ]:
# 11. Now show top 5 records of Germany players who have maximum height, weight and wages.

In [ ]:
# 12. Show short name and wages of top 5 Germany players.

In [ ]:
# 13. Show top 5 players who have great shooting skills among all with short name.

In [ ]:
# 14. Show top 5 players records (short name, defending, nationality, and club) that have awesome defending skills.

In [ ]:
# 15. Show wages records of top 5 players of 'Real Madrid' team

In [ ]:
# 16. Show shooting records of top 5 players of 'Real Madrid' team.

In [ ]:
#17. Show defending records of top 5 players of 'Real Madrid' team

In [ ]:
#18. Show nationality records of top 5 players of 'Real Madrid' team.

In [ ]:
# Bonus – Can go to beyond the scope of this project and find out some great results from the data set. Extract more information of players according to your wish.